<!DOCTYPE html>
<html>
  <head>
    <title>Atout Jardins - Atout Plantes | Saint-Aygulf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path("favicon.jpg") %>

    <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;600;800&display=swap');
    </style>

    <script src="https://kit.fontawesome.com/9e0c0eaaa9.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body><%= render "shared/navbar" %>
<%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
